.navigation-wrapper {
    background-color: #40c9a2;
    z-index: 3;
    padding: 0 1.5rem;

    .navigation-header {
      height: 73px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navigation-names > a > span {
        display: none;
      }

      .navigation-links {
        // mobile menu styling / animating
        .mobile-menu {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 2rem;
          height: 2rem;
          background: transparent;
          border: none;
          padding: 0;
          right: 1.5rem;
          top: 20px;

          &:focus {
            outline: none;
          }

          .bar-one,
          .bar-two,
          .bar-three {
            width: 2rem;
            height: 0.25rem;
            background: #333b54;
            border-radius: 10px;
            transition: all 0.3s linear;
            position: relative;
            transform-origin: 1px;
          }

          .bar-one {
            transform: rotate(0);
          }

          .bar-two {
            opacity: 1;
            transform: translateX(0);
          }

          .bar-three {
            transform: rotate(0);
          }
        }

        .open {
          .bar-one {
            transform: rotate(45deg);
          }

          .bar-two {
            opacity: 0;
            transform: translateX(20px);
          }

          .bar-three {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
